---
import Layout from '../../../../layouts/Main.astro';
import BreadCrumbs from "../../../../components/BreadCrumbs.astro";
import { Image } from 'astro:assets';
//Images
import hero from '../../../../assets/img/nostalgia-hero.jpg';
import nostalgia_1 from '../../../../assets/img/nostalgia-1.jpg';
import nostalgia_2 from '../../../../assets/img/nostalgia-2.jpg';
import Nostalgia_Bluejae_4_1 from '../../../../assets/img/Nostalgia_Bluejae_4 1.jpg';
import Nostalgia_Hillojae_3_1 from '../../../../assets/img/Nostalgia_Hillojae_3 1.jpg';
import Nostalgia_Hillojae_1_1 from '../../../../assets/img/Nostalgia_Hillojae_1 1.jpg';
import Nostalgia_One_cafe1_1 from '../../../../assets/img/Nostalgia_One cafe1 1.jpg';
import Nostalgia_Bluejae_3_1 from '../../../../assets/img/Nostalgia_Bluejae_3 1.jpg';
import Nostalgia_One_cafe2_1 from '../../../../assets/img/Nostalgia_One cafe2 1.jpg';
import Nostalgia_SlowJae2_1 from '../../../../assets/img/Nostalgia_SlowJae2 1.jpg';
import Nostalgia_SlowJae1_1 from '../../../../assets/img/Nostalgia_SlowJae1 1.jpg';
import Nostalgia_Hiddenjae_4_1 from '../../../../assets/img/Nostalgia_Hiddenjae_4 1.jpg';
import Nostalgia_Hiddenjae_3_1 from '../../../../assets/img/Nostalgia_Hiddenjae_3 1.jpg';
import Nostalgia_Bluejae_2_1 from '../../../../assets/img/Nostalgia_Bluejae_2 1.jpg';
import Nostalgia_Hiddenjae_2_1 from '../../../../assets/img/Nostalgia_Hiddenjae_2 1.jpg';
import Nostalgia_Bluejae_1_2 from '../../../../assets/img/Nostalgia_Bluejae_1 2.jpg';
import Nostalgia_Hillojae_2_1 from '../../../../assets/img/Nostalgia_Hillojae_2 1.jpg';
---

<Layout
        title="Ностальгия отель"
        heroImg={hero}
>
    <BreadCrumbs/>
    <section id="about">
        <div class="container">
            <h1 class="text-center">Nostalgia, The Exclusive Hanok Hotel</h1>
            <hr>
            <div class="row">
                <div class="text right-gap">
                    <p class="text-justify">
                        Вилла Nostalgia, расположенная в живописной местности Южной Кореи, является жемчужиной среди эксклюзивных Hanok отелей.
                        Hanok – это традиционные корейские дома, которые сочетают в себе богатую историю и современные удобства. Вилла Nostalgia
                        предлагает уникальный опыт погружения в корейскую культуру, сохраняя при этом высочайший уровень комфорта. <br><br>

                        Одной из главных изюминок виллы является её архитектурный дизайн. Hanok известны своими деревянными конструкциями,
                        крытыми черепицей крышами и просторными внутренними дворами. Вилла Nostalgia мастерски объединяет эти элементы с
                        современными акцентами, создавая гармонию между прошлым и настоящим. Гостям открывается вид на прекрасные сады, которые
                        дополняют атмосферу спокойствия и умиротворения. <br><br>

                        Интерьеры виллы оформлены с особым вниманием к деталям, сочетая традиционные корейские мотивы с современным дизайном.
                        Тёплые деревянные полы, татами и бумажные двери придают уникальный колорит. Вилла оснащена всем необходимым для
                        комфортного пребывания: от современной кухни и просторных ванных комнат до высокоскоростного интернета и системы
                        климат-контроля.
                    </p>
                </div>
                <div class="img">
                    <Image src={nostalgia_1} alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="img right-gap">
                    <Image src={nostalgia_2} alt=""/>
                </div>
                <div class="text">
                    <p class="text-justify">
                        Проживание на вилле Nostalgia предлагает гостям уникальную возможность погружения в корейскую культуру. Вилла организует
                        разнообразные культурные мероприятия и мастер-классы, такие как чайные церемонии, уроки каллиграфии и традиционные
                        кулинарные занятия. Это позволяет гостям не только насладиться комфортом, но и узнать больше о богатом культурном
                        наследии Кореи. <br><br>

                        Для гостей, стремящихся к полному расслаблению, вилла Nostalgia предлагает роскошный спа-центр. Здесь можно насладиться
                        традиционными корейскими массажами и процедурами, основанными на использовании натуральных ингредиентов. Спа-процедуры
                        помогут восстановить силы и обрести внутренний баланс, предоставляя незабываемые ощущения. <br><br>

                        Вилла Nostalgia также уделяет большое внимание экологической ответственности. Использование экологически чистых
                        материалов, энергоэффективных систем и переработки отходов делает этот отель примером устойчивого туризма. Это позволяет
                        гостям наслаждаться пребыванием, зная, что их отдых минимально воздействует на окружающую среду.


                    </p>
                </div>
            </div>
            <hr class="hr-2">
            <div class="amenities-and-services">
                <p class="text-center">ДОСТУПНЫЕ УДОБСТВА И УСЛУГИ</p>
                <div class="row-amenities-and-services">
                    <div class="el">
                        <img src="/img/wifi.svg" alt="">
                        <span>Wi-Fi</span>
                    </div>
                    <div class="el">
                        <img src="/img/baggage.svg" alt="">
                        <span>Камера хранения<br>багажа</span>
                    </div>
                    <div class="el">
                        <img src="/img/plant.svg" alt="">
                        <span>Сад во дворе</span>
                    </div>
                    <div class="el">
                        <img src="/img/television.svg" alt="">
                        <span>Телевиденье</span>
                    </div>
                    <div class="el">
                        <img src="/img/parking.svg" alt="">
                        <span>Платная парковка</span>
                    </div>
                    <div class="el">
                        <img src="/img/recepttion.svg" alt="">
                        <span>Услуги<br>ресепшена</span>
                    </div>
                    <div class="el">
                        <img src="/img/no-pet.svg" alt="">
                        <span>Нельзя с<br>питомцами</span>
                    </div>
                    <div class="el">
                        <img src="/img/invalid.svg" alt="">
                        <span>Кухонные<br>принадлежности</span>
                    </div>
                    <div class="el">
                        <img src="/img/jacuzzi.svg" alt="">
                        <span>Джакузи</span>
                    </div>
                </div>
                <hr>
            </div>
            <div class="gallery">
                <p class="text-center title">Nostalgia</p>
                <p class="text-center"><b>1 Bukchon-ro 8-gil, Jongno District, Seoul, Южная Корея – <a target="_blank" href="https://www.google.com/maps/place/1+Bukchon-ro+8-gil,+Jongno+District,+Seoul,+Южная+Корея/@37.5810813,126.9827117,17z/data=!3m1!4b1!4m6!3m5!1s0x357ca2c53f442953:0x36d3f991d9d7ad!8m2!3d37.5810771!4d126.9852866!16s%2Fg%2F11bzbhvd8f?entry=ttu">Расположение</a></b></p>
                <div class="grid-gallery">
                    <div class="fr"><Image src={Nostalgia_Bluejae_4_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hillojae_3_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hillojae_1_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_One_cafe1_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Bluejae_3_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_One_cafe2_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_SlowJae2_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_SlowJae1_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hiddenjae_4_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hiddenjae_3_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Bluejae_2_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hiddenjae_2_1} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Bluejae_1_2} alt=""/></div>
                    <div class="fr"><Image src={Nostalgia_Hillojae_2_1} alt=""/></div>

                </div>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
  #hero {
    width: 100%;
    height: 100vh;
    background-color: #0000007D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;

    .background-image {
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 300px;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255 255 255 / 66%) 85%, rgb(255, 255, 255) 100%);
    }

    .container {
      max-width: 1200px;
      margin: auto;
      width: 100%;
    }
  }

  #about {
    padding: 100px 0 50px 0;

    .container {
      max-width: 1170px;
      margin: auto;
      hr{
        border-color: black;
        margin: 25px 0;
      }
      .hr-2{
        margin-top: 40px;
        margin-bottom: 50px;
      }
      .row {
        display: flex;
        align-items: center;
        margin-top: 60px;
        padding: 0 20px;
        .right-gap {
          margin-right: 65px;
        }

        .img {
          min-width: 392px;
          height: 376px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
          img{
            width: 100%;
            height: 100%;
          }
        }
      }

      .amenities-and-services {
        margin-top: 60px;

        p {
          margin-bottom: 60px;
          font-weight: 700;
          font-size: 36px;
        }

        .row-amenities-and-services {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: baseline;
          .el{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 57px;
            text-align: center;
            img{
              margin-bottom: 8px;
            }
          }
        }
        hr{
          margin-top: 0;
          margin-bottom: 50px;
        }
      }

      .gallery{
        .title{
          font-size: 36px;
          font-weight: 700;
          line-height: 43.88px;
        }
      }
      .gallery{
        .grid-gallery{
          margin-top: 40px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 20px;
          column-gap: 25px;
          max-width: 1051px;
          margin-left: auto;
          margin-right: auto;
          .fr{
            width: fit-content;
          }
        }
        hr{
          margin: 50px 0;
        }
      }
      .rating-section{
        padding: 0 20px;
        .title{
          font-size: 36px;
          font-weight: 700;
        }
        .inner-container{
          max-width: 980px;
          margin-left: auto;
          margin-right: auto;
          .rating{
            margin-top: 40px;
            display: flex;
            align-items: center;
            h1{
              margin-right: 40px;
            }
          }
          .reviews{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .review{
              padding: 20px 20px 0 20px;
              width: 300px;
              height: 164px;
              background: #F3F3F3;
              border-radius: 13px;
              box-shadow: 0px 4px 4px 0px #00000040;
              box-sizing: border-box;
              .user-info{
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-bottom: 15px;
                .number-rating{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  font-size: 20px;
                  font-weight: 400;
                  margin-right: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #D9D9D9;
                  font-weight: 500;
                }
                .name{
                  font-size: 16px;
                  font-weight: 500;
                }
              }
              .text{
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                line-height: 15.85px;
              }
            }
          }
        }
      }
    }
  }
  .bread-crumbs{
    padding-top: 50px;
    padding-left: 50px;
    ul{
      display: flex;
      list-style: none;
      align-items: center;
      li{
        margin-right: 20px;
        display: flex;
        align-items: center;
        a{
          color: black;
          text-decoration: none;
        }
        &::before{
          content: url(../img/arrow.svg);
          width: 15px;
          display: block;
          margin-right: 20px;
        }
        &:first-child::before{
          display: none;
        }
      }
    }
  }
</style>