---
import Layout from '../../../layouts/Main.astro';
import Quote from '../../../components/Quote.astro';
import BreadCrumbs from "../../../components/BreadCrumbs.astro";
import { Image } from 'astro:assets';
//Images
import hero from '../../../assets/img/great-britain-hero.jpg';
import great_britain_1 from '../../../assets/img/great-britain-1.jpg';
import great_britain_2 from '../../../assets/img/great-britain-2.jpg';
import great_britain_3 from '../../../assets/img/great-britain-3.jpg';
import great_britain_4 from '../../../assets/img/great-britain-4.jpg';
import great_britain_5 from '../../../assets/img/great-britain-5.jpg';
import great_britain_6 from '../../../assets/img/great-britain-6.jpg';
import great_britain_7 from '../../../assets/img/great-britain-7.jpg';
import great_britain_8 from '../../../assets/img/great-britain-8.jpg';
import great_britain_9 from '../../../assets/img/great-britain-9.jpg';
import great_britain_10 from '../../../assets/img/great-britain-10.jpg';
import great_britain_11 from '../../../assets/img/great-britain-11.jpg';
import great_britain_12 from '../../../assets/img/great-britain-12.jpg';
import great_britain_13 from '../../../assets/img/great-britain-13.jpg';
import transfer_hero from '../../../assets/img/transfer-hero.jpg';
---

<Layout
        title="Великобритания"
        heroImg={hero}
        heroTitle="ВЕЛИКОБРИТАНИЯ"
>
    <BreadCrumbs />
    <section id="about">
        <div class="container">
            <h5 class="text-left" style="max-width: 982px;margin-right: auto;margin-left: auto;margin-bottom:80px;">Великобритания — страна, сочетающая в себе величие древней истории и инновационный дух современности. Ее уникальность заключается в невероятном разнообразии, которое удивляет путешественников на каждом шагу.</h5>
            <div class="row">
                <div class="text right-gap">
                    <p class="text-justify" style="font-size: 20px !important;line-height: 24px!important;">
                        <b>Историческое наследие и культура</b><br>
                        Каждый уголок Великобритании дышит историей. Лондон, со своими королевскими дворцами, величественным Биг-Беном и Тауэрским мостом, является символом монархии и традиций. Но стоит отъехать немного от столицы, как вы окажетесь в старинных городах, таких как Йорк с его средневековыми стенами и Эдинбург с его величественным замком, стоящим на скале. Британские университетские города — Оксфорд и Кембридж — воплощают многовековые традиции образования и науки.<br><br>
                        <b>Природные красоты и ландшафты</b><br>
                        Природа Великобритании поражает своими контрастами: от зелёных холмов Уэльса до величественных Шотландских высокогорий. Любители природы найдут здесь всё — от прогулок по берегам Лейк-Дистрикта, национального парка с кристально чистыми озёрами и живописными горами, до дикого и первозданного ландшафта Корнуолла на юго-западе страны. А Стоунхендж, древнее мегалитическое сооружение, продолжает манить исследователей своими загадками.
                    </p>
                </div>
                <div class="img" style=" min-width: 380px; height: 380px;margin-left: 25px;">
                    <Image src={great_britain_1} alt="" />
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="img right-gap" style="  min-width: 380px; height: 380px;margin-right: 40px;margin-left: 20px;">
                    <Image src={great_britain_2} alt="" />
                </div>
                <div class="text">
                    <p class="text-justify"  style="font-size: 20px !important;line-height: 24px!important;">
                        <b>Современность и стиль</b><br>
                        Великобритания — это не только традиции, но и олицетворение современности. Вибрирующая ночная жизнь Лондона, модные районы, такие как Шордич, и передовые театральные постановки на Вест-Энде — все это привлекает тех, кто ищет новизну и современную культуру. Британская музыкальная и киноиндустрия подарили миру многие шедевры, которые продолжают вдохновлять людей по всему миру.<br><br>
                        <b>Многогранная культура и гастрономия</b><br>
                        Великобритания — это настоящий калейдоскоп культур. Каждая её часть уникальна: Шотландия славится своими виски и национальными праздниками, Уэльс удивляет замками и живописными долинами, а Англия — родина величайших писателей, таких как Шекспир. Гастрономическая сцена страны за последние годы претерпела изменения, и теперь здесь можно найти рестораны с кухней мирового уровня, а также традиционные британские блюда, такие как рыба с картошкой или воскресный ростбиф.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <h5 class="text-justify" style="margin-left: auto;margin-right: auto;max-width: 987px;">
                    <b>Почему стоит посетить Великобританию?</b><br>
                    Почему стоит посетить Великобританию?
                    Великобритания — это не просто место, это впечатления. Здесь можно за один день прогуляться по живописным паркам, исследовать старинные замки, насладиться произведениями искусства в музеях мирового уровня и завершить вечер ужином в уютном ресторане на берегу Темзы. Великобритания — это страна, где переплетаются традиции и современность, история и инновации, природа и культура. Именно это делает её по-настоящему уникальной и желанной для путешественников со всего мира.
                </h5>
            </div>
            <div class="gallery" style="margin-top: 90px;">
                <div class="row-gallery">
                    <div class="img">
                        <Image src={great_britain_3} alt="" />
                    </div>
                    <div class="img">
                        <Image src={great_britain_4} alt="" />
                    </div>
                    <div class="img">
                        <Image src={great_britain_5} alt="" />
                    </div>
                </div>
                <div class="row-gallery">
                    <div class="img">
                        <Image src={great_britain_6} alt="" />
                    </div>
                    <div class="img">
                        <Image src={great_britain_7} alt="" />
                    </div>
                </div>
            </div>
            <div class="description">
                <h5 class="text-center">Погрузитесь в удивительный мир Великобритании вместе с нами и позвольте себе насладиться всеми гранями её уникальности!</h5>
            </div>
            <div class="row">
                <div class="text right-gap">
                    <p class="text-justify" style="font-size: 20px !important;line-height: 24px!important;">
                        Трансфер по Великобритании с Limotis – это сочетание комфорта, надежности и профессионализма, которое делает каждую поездку приятной и беззаботной. Мы предлагаем полный спектр услуг, включая трансферы для передвижения из, или в аэропорт, а также аренду автомобилей с опытными водителями, которые обладают всеми необходимыми лицензиями и глубоким знанием города. Это позволяет нам гарантировать оперативность, безопасность каждого клиента и безупречное качество сервиса.Наша компания имеет обширный автопарк, который включает автомобили на любой случай: от комфортных и практичных моделей до роскошных представительских машин премиум-класса. Независимо от того, планируете ли вы деловую поездку, отдых с семьей или участие в важном мероприятии, мы подберем транспорт, который полностью соответствует вашим запросам.Особое внимание мы уделяем нашим водителям.
                    </p>
                </div>
                <div class="img" style=" min-width: 380px; height: 380px;margin-left: 25px;">
                    <Image src={transfer_hero} alt="" height={380} />
                </div>
            </div>
        </div>
    </section>
   <Quote/>
    <section id="best-apartments" style="padding: 100px 0 120px 0;">
        <h2 class="text-center">ЛУЧШИЕ ОТЕЛИ <br> ВЕЛИКОБРИТАНИИ</h2>
        <div class="container" style=" max-width: 1320px; margin: auto; margin-top:90px">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="/continents/europe/great-britain/raffles"><Image src={great_britain_8} alt="Raffles the OWO"/>
                            <h5 class="slide-title">Raffles <br> the OWO</h5>
                                </a>    
                        </li>
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="#"><Image src={great_britain_9} alt="Royal Lancaster London"/>
                            <h5 class="slide-title">Royal Lancaster <br> London</h5>
                                </a>
                        </li>
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="/continents/europe/great-britain/peninsula"><Image src={great_britain_10} alt="The Peninsula London"/>
                            <h5 class="slide-title">The Peninsula <br> London</h5>
                                </a>
                        </li>
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="#">
                                <Image src={great_britain_11} alt="The Westin London City" />
                                <h5 class="slide-title">The Westin <br> London City</h5>
                            </a>
                        </li>
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="#"><Image src={great_britain_12} alt="The Dorchestern" />
                            <h5 class="slide-title">The <br>Dorchestern</h5>
                                </a>
                        </li>
                        <li class="splide__slide">
                            <div class="bg"></div>
                            <a href="#"><Image src={great_britain_13} alt="The Landmark"/>
                            <h5 class="slide-title">The Landmark <br> London</h5>
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide',{
            type: "loop",
            pagination: false,
            arrows: true,
            gap: "6%",
            focus: 'center',
            perPage: 3,
        });
        splide.mount();
    });
</script>

<style lang="scss">
  #about{
    margin-bottom: 140px;
    .container {
      max-width: 1170px;
      margin: auto;
      padding-top: 60px;
      h5{
        margin-bottom: 55px;
      }
      .row {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .right-gap {
          margin-right: 70px;
        }

        .img {
          min-width: 451px;
          height: 381px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
          overflow: hidden;
            img{
              width: auto;
              height: 100%;
              margin-right: 0 !important;
            }

        }
        p{
          line-height: 24.38px;
          font-weight: 400;
        }
      }
    }
  }
  .gallery {
        margin-top: 60px;
        h5{
          margin-bottom: 50px;
        }
        .row-gallery{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .img{
            width: 380px;
            height: 230px;
            margin-bottom: 15px;
            margin-right: 15px;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }

  #countries-details{
    margin-top: 20px;
    padding-bottom: 200px;
    .container{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      h2{
        margin-bottom: 70px;
      }
      h5{
        margin-bottom: 100px;
      }
      .row{
        display: flex;
        align-items: center;
        margin-bottom: 120px;
        .img{
          position: absolute;
          img{
            max-width: 837px;
          }

        }
        .text{
          width: 50%;
        }
        &.img-right{
          .img{
            right: 0;
          }
        }
        &.img-left{
          .img{
            left: 0;
          }
          justify-content: right;
        }
        .header-text{
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        h5{
          margin-bottom: 0;
          text-align: justify;
        }
      }
    }
  }
      .splide__slide {
        position: relative;
        text-align: left;
        display: flex;
        width: fit-content !important  ;
        transition: transform 0.3s ease;
        transform: scale(1);
        &:hover{
          transform: scale(1.03) ;
        }
}

.slide-title {
  position: absolute;
  top: 25px;
  left: 20px;
  color: white;
}
.splide__slide img{
    width: 355px;
    height: auto;
}
.splide__slide .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2F2E2E;
filter: blur(12.5px);
    z-index: -1;
}
.splide__arrow--prev {
  background: none;
        transform: scale(150%) translate(-30px);


}
.splide__track{
    padding-top: 30px;
    padding-bottom: 30px;
}
.splide__arrow--next {
  background: none;
    transform: scale(150%) translate(30px);
}

</style>